* {
    margin: 0;
    padding: 0;
    font-family: Outfit;
}

body {
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Qr-card {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 300px;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.Qr-card h2 {
    color: hsl(218, 44%, 22%);
}

.Qr-card img {
    margin: 10px 0;
    width: 270px;
    height: 42vh;
    border-radius: 10px;
}
.Qr-card p {
    font-size: 15px;
    color:hsl(220, 15%, 55%)
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}